<h1>Your items:</h1>

<ul class="item__list">
<% @items.each do |item| %>
  <li class="item__single">
    <div>
      <strong>Name</strong>: <%= item.name %>
    </div>
    <div>
      <strong>Category</strong>: <%= item.category %>
    </div>
    <div>
      <strong>Price</strong>: <%= number_to_currency(item.price_in_cents / 100) %>
    </div>
  </li>
<% end %>
</ul>
