.body {
  min-height: 500px;
  width: 60%;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%);
  background-color: $fg-color;
  border-radius: 30px;
  padding: 50px 10%;
  border: 2px solid $accent1-color;
  box-shadow: 2px 2px 10px;
  > img {
    margin: 10px 10%;
    width: 80%;
  }
}
